#menuBlock ul{
    display: flex;
    justify-content: space-between;
    
}

#menuBlock ul li{
    display: flex;
    justify-content: space-between;
    padding-right: 150px; 
     
}


#menuBlock ul li a{
    text-decoration: none;
    color: white;
}
#menuBlock ul li input{
    padding-right: 140px;
    margin: 0px -100px 0px 80px;
    
}